@{
    Layout = "~/Views/Admin/AdminLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <label>Enter your registered email:</label>
    <input type="email" name="email" class="form-control" required />
    <button type="submit" class="btn btn-primary">Send Code</button>
}

@if (ViewBag.Error != null)
{
    <div class="text-danger">@ViewBag.Error</div>
}
