@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Admin/AdminLayout.cshtml";

}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    <label>New Password:</label>
    <input type="password" name="newPassword" class="form-control" required />

    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" class="form-control" required />

    <button type="submit" class="btn btn-success">Reset Password</button>
}

@if (ViewBag.Error != null)
{
    <div class="text-danger">@ViewBag.Error</div>
}
